version: "3.9"

services:
  api:
    build: ./backend
    container_name: redk_api
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - "8000:8000"
    depends_on:
      - mongo
      - redis
      - neo4j
    volumes:
      - ./backend:/code  # útil en desarrollo para ver cambios

  mongo:
    image: mongo:7
    container_name: redk_mongo
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  redis:
    image: redis:7
    container_name: redk_redis
    restart: unless-stopped
    command: ["redis-server", "--appendonly", "yes"]
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

  neo4j:
    image: neo4j:5
    container_name: redk_neo4j
    restart: unless-stopped
    environment:
      - NEO4J_AUTH=neo4j/password123   # usuario: neo4j, pass: password123
    ports:
      - "8474:7474"   # HTTP (browser web en host)
      - "7687:7687"   # BOLT (driver, desde API)
    volumes:
      - neo4j_data:/data
      - neo4j_logs:/logs

  cli:
    build: ./backend
    container_name: redk_cli
    restart: unless-stopped
    env_file:
      - .env
    environment:
      - API_URL=http://redk_api:8000   # <- CAMBIAR AQUÍ
    depends_on:
      - api
    entrypoint: ["sleep", "infinity"]
    volumes:
      - ./backend:/code

volumes:
  mongo_data:
  redis_data:
  neo4j_data:
  neo4j_logs:
